:root {
  --header-height: 100px;
  background: rgb(241, 241, 233);
}

* {
  margin: 0;
}



.header {
  display: grid;
  grid-template-columns: 7fr 1fr;
  height: var(--header-height);
  background: rgb(174, 225, 255);
  /* border: 2px solid black; */

  box-shadow: 1px 1px 5px rgba(0, 135, 212, 0.555);
}


.header-left {
  display: grid;
  grid-template-columns: 50px 150px 1fr;
  margin-top: 10px;
  margin-left: 20px;

}

.header-left i {
  margin-top: 5px;
  font-size: 35px;
}

.header-left h2 {
  font-size: 35px;
  margin-top: 4px;
}

.header-left p {
  margin-top: 23px;
  font-size: 15px;
  font-weight: 500;
}

/* .header div {
  border: 2px black solid;
} */

.header-right button {
  margin-top: 10px;
  background: rgba(158, 158, 158, 0.815);
  color: white;
  height: 35px;
  width: 55px;
  border-radius: 5px;
  border: 0;
  transition: background-color 0.2s linear;
}

.header-right button:hover {
  background-color: rgb(145, 145, 145);
  font-size: 14px;
}

.header .position {
  margin-top: 30px;
}


/* FOOTER START */
.footer #open {
  position: absolute;
  top: 85vh;
  left: 88vw;
  font-size: 55px;
  background: rgba(127, 123, 148, 0.349);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-content: center;
  opacity: 0.9;
}

.footer #open:hover {
  font-size: 60px;
  background: rgba(127, 123, 148, 0.61);
  opacity: 1;
  cursor: pointer;

}

.footer-tooltip {
  font-size: 12px;
  position: absolute;
  top: 80vh;
  left: 86vw;
  background: rgba(127, 123, 148, 0.144);
  height: 30px;
  width: 100px;
  display: grid;
  justify-content: center;
  align-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}


/* MODAL POPUP */

.background-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.input-modal {
  height: 400px;
  width: 300px;
  background: white;
  border-radius: 5px;
  position: relative;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);

}

form p {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.747);
}

form #close {
  position: absolute;
  top: 0;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.719);
  transform: rotate(45deg);
  right: 10px;
}

form #close:hover {
  transform: rotate(45deg);
  font-size: 32px;
  color: black;
  cursor: pointer;
}

form .close-tooltip {
  position: relative;
  left: 200px;
  bottom: 55px;
  background: rgba(255, 255, 255, 0.144);
  height: 20px;
  width: 120px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear;
}

form .line {
  display: grid;
  justify-self: center;
  height: 0;
  width: 80px;
  border: 1px rgba(0, 0, 0, 0.445) solid;
}



input {
  width: 250px;
  height: 25px;
  background-color: rgba(24, 181, 187, 0.075);
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-radius: 4px;
  margin-top: 5px;
}

.input-modal form {
  display: grid;
  grid-template-rows: 30px 0px 15px 1fr 1fr 1fr 1fr 60px;
  height: 100%;
  margin-left: 5px;
  margin-top: 4px;
}

form select {
  width: 260px;
  height: 25px;
  background-color: rgba(24, 181, 187, 0.075);
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-radius: 4px;
  margin-top: 5px;
}

form button {
  background: rgba(99, 133, 146, 0.89);
  color: white;
  height: 29px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 20px;
}

form button:hover {
  cursor: pointer;
  background: rgba(67, 98, 110, 0.89);
}

form .button {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* END OF MODAL */


/* MIDDLE SECTION  */
.container {
  /* background: rgb(110, 94, 94); */
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container .card {
  background: linear-gradient(to right, rgba(121, 95, 126, 0.336), rgba(93, 173, 247, 0.5));
  width: 300px;
  height: 270px;
  border-radius: 3px;
  margin: 20px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.582);
}

.container .inner-card {
  border: 1px solid rgba(51, 83, 82, 0.315);
}

.inner-card {
  padding: 7px;
  /* border: 2px solid; */
}

.inner-card .heading {
  font-weight: 600;
}

/* #read-card button {
  margin-left: 20px;
  border-radius: 3px;
  background: rgba(69, 139, 167, 0.322);
  height: 30px;
  width: auto;
  border: 0;
  font-size: 15px;
  border: 5px black solid;
}

#read-card button:hover {
  cursor: pointer;
  background: rgba(47, 95, 114, 0.322);
} */

#read-card {
  display: grid;
  grid-template-columns: 50px 100px;

}



.checkbox {
  height: 19px;
  border-radius: 10px;
  margin-top: 0px;
}

.card #delete-card {
  display: flex;
  justify-content: center;
}

.card #delete-card span {
  margin: 0px 10px;
}


#delete-card button {
  height: 50px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.89);
  background: rgba(69, 139, 167, 0.322);
  border: 0;
  border-radius: 4px;
}

#delete-card button:hover {
  cursor: pointer;
  background: rgba(133, 30, 30, 0.534);
}